.containment {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.first {
  height: 75px;
  width : 480px;
}


.second {
  width : 480px;
  height: 150px;
}

.third {
  height: 125px;
  width : 480px;
}

.fourth {
  width : 240px;
  height: 250px;
  flex-direction: row;
}










