
  div {
    text-align: center;
  }

  .first {
   line-height: 80px;
  }

  .second {
    line-height: 150px;
  }

  .third {
    line-height: 120px;
  }

  .fourth {
    line-height: 220px;
  }

  .fifth {
    line-height: 220px;
  }

  .sixth {
    line-height: 80px;
  }


